source /usr/local/lib/python3.5/dist-packages/powerline/bindings/tmux/powerline.conf
set-option -g default-terminal screen-256color

#remap 'C-b' to 'M-a'
unbind C-b
set-option -g prefix M-a
bind-key M-a send-prefix

#remap 'M-b &' to 'M-b k'
unbind &
bind k kill-window
bind K confirm kill-server

#don't know how, but M-a + holding M + arrow resizes windows

#switch panes using Alt-arrow without prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

#remap '%' to | and '"' to -
unbind '"'
unbind %
bind | split-window -h
bind - split-window -v

#setmap setw synthconize-panes on
bind M-x setw synchronize-panes on

#setmap setw synthconize-panes off
bind C-x setw synchronize-panes off

#tmux plugin manager
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'

#Initialize TMUX plugin manager
run '~/.tmux/plugins/tpm/tpm'
